body{padding: 0; margin: 0; overflow:hidden;}
#scroll{}
#start{background-image: url('image/start.jpg'); height:100%; }
#welcome{width:400px; margin:0 auto; padding-top:50px;text-align: center;}
#welcome-char{ font-size: 64px; }
#div-start{height: 220px;  width:100%; padding:0; position:absolute; bottom: 0; font-size:32px}
#datetime{ width: calc(50% - 100px) ; height: calc(100% - 20px); padding:10px 40px; float: left }
#icon-start{width: 50% ; width: calc(50% - 60px); padding:10px 40px ; float: right; text-align:right;margin-top:100px;  }
#icon-start i{margin-right:10px;}
#login{background-image: url('image/login.jpg');height:100%; }
#login-form{width: 600px;height:auto; background-color:#D0CCD0; margin:0 auto; padding:15px; height:calc(100%-30px); text-align:center	}
#user{ margin:25px 0; padding:30px 0}
#user img{width:250px; border-radius: 50%;}
#user input[type=password]{width:250px; height: 30px; padding:10px; font-size:16px; padding-right: 30px; border-radius:5px}
#user button{width:150px; height:40px; margin-top:15px; border-radius:5px}
#icon-login{width: 600px; margin-top:80px; font-size:32px; }
#icon-login i{margin:10px;}
